* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.header,
.content {
  background-color: #1f2937;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.right-links {
  padding: 0;
  list-style-type: none;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  margin-left: 1em;
}

.text {
  width: 40%;
}
.image {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.txt + .txt {
  margin-top: 20px;
}

img {
  max-width: 100%;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 5em 0;
}

.large {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.small {
  font-size: 18px;
  color: #e5e7eb;
}

.button {
  background-color: #2883f6;
  color: #e5e7eb;
  font-weight: 700;
  font-size: 18px;
  border-radius: 10px;
  padding: .5em 2em;
}

.rand-text {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
  padding: 5rem;
}

.a-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 5em;
}

.border {
  border-radius: 10px;
  border: 5px solid #3882f6;
  width: 150px;
  height: 150px;
}

.desc {
  font-size: 18px;
  text-align: center;
}

.quotes {
  padding: 5em 0;
  background-color: #e5e7eb;
}

.cus-quote {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
}

.author {
  text-align: right;
  font-weight: 700;
}

.footer-touch {
  padding: 5em 0;
}

.call-to-act {
  border-radius: 10px;
  padding: 3em 10em;
  background-color: #3882f6;
  color: #FFF;
}

.call-head {
  font-size: 24px;
  font-weight: 700;
}

.call-desc {
  font-size: 18px;
}

.sign-up {
  display: flex;
  align-items: flex-end;
}

.call-sign-up {
  background-color: #3882f6;
  border: 3px solid #FFF;
  color: #FFF;
  font-weight: 700;
  font-size: 18px;
  border-radius: 10px;
  padding: .5em 2em;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  background-color: #1f2937;
  color: #FFF;
}
