body {
  margin: 0;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background-color: #1F2937;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  padding: 0;
  margin: 0;
}

.logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 700;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 16px;
  font-size: 18px;
  padding: 0;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.footer {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E5E6E8;
  font-size: 14px;
  padding: 2rem;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.child {
  flex: 1;
}

.header-touch {
  background-color: #1F2937;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 7em;
  gap: 2em;
}

.awesome {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.text,
.image {
  width: 40%;
}

.image {
  display: flex;
  justify-content: center;
}

img {
  height: 250px;
  width: 600px;
  max-width: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.large {
  color: #F9FAF8;
  font-weight: bolder;
  font-size: 48px;
}

.small {
  font-size: 18px;
  color: #e5e7eb;
}

.button {
  color: #F9FAF8;
  font-weight: bold;
  font-size: 16px;
  background-color: #3882f6;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  padding: 10px 24px;
}

.random-info {
  display: flex;
  flex-direction: column;
}

.rand-text {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.info {
  display: flex;
  padding: 1rem 4rem 4rem 4rem;
  gap: 8rem;
  justify-content: center;
}

.border {
  width: 150px;
  height: 150px;
  border: 2px solid #3882F6;
  border-radius: 10px;
}

.desc {
  font-size: 16px;
  text-align: center;
  width: 150px;
}

.a-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.quotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  background-color: #e5e7eb;
}

.quote-child {
  width: 70%;
}

.cus-quote {
  font-size: 36px;
  color: #434C58;
}

.author {
  font-size: 18px;
  font-weight: bolder;
  text-align: right;
}

.footer-touch {
  display: flex;
  justify-content: center;
  padding: 5rem;
}

.call-to-act {
  background-color: #3882f6;
  display: flex;
  padding: 3rem 6rem;
  gap: 16rem;
  border-radius: 10px;
}

.call-head {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bolder;
}

.call-desc {
  color: #FFFFFF;
  font-size: 14px; 
}

.sign-up {
  display: flex;
  align-items: center;
}

.call-sign-up {
  color: #FFFFFF;
  border-radius: 10px;
  border: 2px solid #FFFFFF;
  background-color: #3882f6;
  padding: 5px 24px;
}
